:local(.form) {
  display: grid;
  grid-template-columns: 50% 50%; 
  margin: 50px;

  form {
    div {
      margin: 5px;
    }

    button[type='submit'] {
      width: 150px;
      font-size: 2em;
    }
  }
}