:local(.tags) {
  ul {
    display: flex;
    list-style-type: none;
    li {
      padding: 10px;
      border: 1px solid #E7E7E7;
      margin: 10px;
      transition: all .3s ease;
    }

    li:hover {
      background: #E7E7E7;
    }
  }
}